<div class="container p-4">
    <div class="row" id="info">
        {{#if options.flag}}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>created_at</th>
                    <th>status</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each options.proyects}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{timeago created_at}}</td>
                    <td>{{status}}</td>
                    <td><a href="/proyects/edit/{{id}}" class="btn btn-secondary">Editar</a></td>
                    <td><a href="/proyects/delete/{{id}}" class="btn btn-danger">Eliminar</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
            <div class="col-md-4 mx-auto text-center">
                <h3>{{options.message}}</h3>
                <a href="/proyects/add">Create a new proyect</a>
            </div>
        {{/if}}
    </div>
</div>